{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

<div class="content-wrapper">
	<div class="page-header">
		<h2 class=" text-primary">Actualizar Originación </h2>
			<a href="{% url 'listar_originacion' %}" class="btn btn-primary rounded-4">
				<i class="mdi mdi-arrow-left mx-2"></i>
				Volver
			</a>
	</div>
	<div>
		<div class="col-md-12">
			<div class="card rounded-5">
				<div class="card-body">
					<form method="post" enctype="multipart/form-data">

						<!-- Token de seguridad para poder crear un nuevo registro -->
						{% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.asociado|as_crispy_field }}
                                    {% if form.asociado.help_text %}
                                        <small class="form-text text-muted">{{ form.asociado.help_text }}</small>
                                    {% endif %}
                                    {% if form.asociado.errors %}
                                        <div class="text-danger">
                                            {% for error in form.asociado.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.lin_cre|as_crispy_field }}
                                    {% if form.lin_cre.help_text %}
                                        <small class="form-text text-muted">{{ form.lin_cre.help_text }}</small>
                                    {% endif %}
                                    {% if form.lin_cre.errors %}
                                        <div class="text-danger">
                                            {% for error in form.lin_cre.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.monto|as_crispy_field }}
                                    {% if form.monto.help_text %}
                                        <small class="form-text text-muted">{{ form.monto.help_text }}</small>
                                    {% endif %}
                                    {% if form.monto.errors %}
                                        <div class="text-danger">
                                            {% for error in form.monto.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.plazo|as_crispy_field }}
                                    {% if form.plazo.help_text %}
                                        <small class="form-text text-muted">{{ form.plazo.help_text }}</small>
                                    {% endif %}
                                    {% if form.plazo.errors %}
                                        <div class="text-danger">
                                            {% for error in form.plazo.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.gar_cre_sol|as_crispy_field }}
                                    {% if form.gar_cre_sol.help_text %}
                                        <small class="form-text text-muted">{{ form.gar_cre_sol.help_text }}</small>
                                    {% endif %}
                                    {% if form.gar_cre_sol.errors %}
                                        <div class="text-danger">
                                            {% for error in form.gar_cre_sol.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.lin_cre_sol|as_crispy_field }}
                                    {% if form.lin_cre_sol.help_text %}
                                        <small class="form-text text-muted">{{ form.lin_cre_sol.help_text }}</small>
                                    {% endif %}
                                    {% if form.lin_cre_sol.errors %}
                                        <div class="text-danger">
                                            {% for error in form.lin_cre_sol.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.mod_cre_sol|as_crispy_field }}
                                    {% if form.mod_cre_sol.help_text %}
                                        <small class="form-text text-muted">{{ form.mod_cre_sol.help_text }}</small>
                                    {% endif %}
                                    {% if form.mod_cre_sol.errors %}
                                        <div class="text-danger">
                                            {% for error in form.mod_cre_sol.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.sol_cre_edu|as_crispy_field }}
                                    {% if form.sol_cre_edu.help_text %}
                                        <small class="form-text text-muted">{{ form.sol_cre_edu.help_text }}</small>
                                    {% endif %}
                                    {% if form.sol_cre_edu.errors %}
                                        <div class="text-danger">
                                            {% for error in form.sol_cre_edu.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {{ form.for_pag|as_crispy_field }}
                                    {% if form.for_pag.help_text %}
                                        <small class="form-text text-muted">{{ form.for_pag.help_text }}</small>
                                    {% endif %}
                                    {% if form.for_pag.errors %}
                                        <div class="text-danger">
                                            {% for error in form.for_pag.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit" title="Guardar" class="btn btn-light rounded-pill"><i
                                        class="bi bi-floppy"></i> Actualizar</button>
                                <a href="../" title="Cancelar" type="submit" class="btn btn-light rounded-pill"><i
                                        class="bi bi-x-square"></i>
                                    Cancelar</a>
                            </div>
                        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
	</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
	</script>

{% endblock %}