{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="content-wrapper">
	<div class="page-header">
		<h2 class=" text-primary">Detalles Cuenta Contable </h2>
			<a href="{% url 'listar_cuenta' %}" class="btn btn-primary rounded-4">
				<i class="mdi mdi-arrow-left mx-2"></i>
				Volver
			</a>
	</div>
	<div class="col-md-12">
		<div class="card rounded-5">
			<div class="card-body">
                <div class="row g-3">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th colspan="2" class="text-start">Información General de la Cuenta</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="txt_negrita text-start">Cliente</th>
                                <td>{{ object.cliente }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Periodo Contable</th>
                                <td>{{ object.per_con }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Código Cuenta</th>
                                <td>{{ object.cod_cta }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Nombre Cuenta</th>
                                <td>{{ object.nom_cta }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Tipo Cuenta</th>
                                <td>{{ object.tip_cta }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Dinámica</th>
                                <td>{{ object.dinamica }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th colspan="2" class="text-start">Propiedades de la Cuenta</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="txt_negrita text-start">Naturaleza</th>
                                <td>{{ object.naturaleza }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta Activa?</th>
                                <td>{{ object.activa }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Contabiliza por Tercero?</th>
                                <td>{{ object.por_tercero }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta Activo Fijo?</th>
                                <td>{{ object.cta_act_fij }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta Presupuesto?</th>
                                <td>{{ object.cta_pre }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta de Balance?</th>
                                <td>{{ object.cta_bal }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta de Resultados?</th>
                                <td>{{ object.cta_res }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta de Orden?</th>
                                <td>{{ object.cta_ord }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta de Banco?</th>
                                <td>{{ object.cta_ban }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th colspan="2" class="text-start">Otros Detalles Contables</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta Ganancias?</th>
                                <td>{{ object.cta_gan_per }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta Pérdidas?</th>
                                <td>{{ object.cta_per_gan }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta Depreciación?</th>
                                <td>{{ object.cta_dep }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta Ingresos y Retenciones?</th>
                                <td>{{ object.cta_ing_ret }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta Reteiva?</th>
                                <td>{{ object.cta_ret_iva }}</td>
                            </tr>
                            <tr>
                                <th class="txt_negrita text-start">Cuenta Recíproca?</th>
                                <td>{{ object.cta_rec }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 text-center">
                        <a href="{% url 'exportar_pdf_cuenta' object.id %}" target="_blank" title="Imprimir" type="button" class="btn btn-primary rounded-4">
                            <i class="bi bi-printer-fill"></i> Imprimir
                        </a>
                    </div>
                </div>

			</div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
	</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
	</script>


{% endblock %}